.clear:after{
	content:"";
	display: block;
	clear: both;
}
*{
	margin:0px;
	padding:0px;
}
div,ul,li,img,span,i{
	margin:0px;
	padding:0px;
}
.all{
	width: 1600px;
	height: 920px;
}
.top{
	width: 1600px;
	height:862px;
	background: url(img/wenhua_bg.png) no-repeat;
}
.top_u1{
	width: 1580px;
	height: 50px;
	margin-left: 20px;
	background: #010102;
	list-style: none;
}
.top_u1 li{
	float: left;
	height: 50px;
	line-height: 50px;
}
.top_u1 li a{
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	font-family: "微软雅黑";
}
.u1_l1{
	margin-left: 209px;
	margin-right: 112px;
}
.u1_l2{
	margin-right: 65px;
}
.u1_l3{
	margin-right: 55px;
}
.bottom{
	width: 1600px;
	height: 57px;
	background: #f4f4f4;
}
.bottom_u{
	list-style: none;
	width: 1600px;
	height: 57px;
}
.bottom_u li{
	float: left;
	height: 57px;
	line-height: 57px;
	font-size: 12px;
	color: #666666;
	font-family: "微软雅黑";
}
.bottom_a1{
	text-decoration: none;
	font-size: 12px;
	color: #666666;
}
.bottom_l1{
	margin-left: 231px;
}
.bottom_l2{
	margin-left: 30px;
}
.bottom_l3{
	margin-left: 63px;
}
.center{
	width: 1140px;
	height: 812px;
	position: relative;
	left: 50%;
	margin-left: -570px;
	top:0px;
	font-family: "微软雅黑";
}
.center_p1{
	width: 1140px;
	position: absolute;
	top: 16px;
	height: 44px;
	line-height: 44px;
	font-size: 18px;
	color: #fff;
	border-bottom: 1px #1f1a2e solid;
}
.center_1{
	width: 1140px;
	height: 638px;
	position: absolute;
	top: 82px;
}
.DIV{
	float: left;
	width: 562px;
	height: 115px;
	margin-bottom: 15px;
	margin-right: 8px;
	background: url(img/zhongxin_img.png) no-repeat;
}
.txt{
	width: 379px;
	height: 82px;
	position: relative;
	left: 163px;
	top: 13px;
}
.center_sp1{
	font-size: 14px;
}
.center_p,.center_sp2,.center_sp3,.center_sp4{
	font-size: 12px;
}
.center_sp4{
	color: #999999;
}
.center_sp2{
	margin-left: 85px;
}
.center_p2{
	width: 352px;
	height: 27px;
	position: absolute;
	left: 789px;
	top: 745px;
	font-size: 12px;
}
.center_p2 a{
	float: left;
	font-size: 12px;
	text-decoration: none;
	color: #000;
	text-align: center;
	line-height: 27px;
}
.pa1{
	width: 23px;
	height: 24px;
	background: #fff;
	margin-left: 4px;
}
.pa2{
	width: 53px;
	height: 24px;
	background: #fff;
	margin-left: 4px;
}
.in{
	float: left;
	width: 38px;
	height: 24px;
	margin-left:4px;
	text-align: center;
}
.SP{
	float: left;
	color: #fff;
	line-height: 27px;
	margin-left:4px;
}
.pa4{
	width: 31px;
	height: 24px;
	background: #fff;
	margin-left: 4px;
}
.a1:visited,.a7:visited{
	color: #fff;
	background: #7b2783;
}